<div class="container">
    <form name="form" #f="ngForm">  
      <mat-form-field>
          <input
            matInput
            name="current"
            [(ngModel)]="model.current"
            placeholder="Enter Current Password"
            [type]="oldHide ? 'text' : 'password'"
            color="accent"
            required
          >
          <mat-icon matSuffix (click)="oldHide = !oldHide">{{oldHide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="password"
          [(ngModel)]="model.password"
          placeholder="Enter New Password"
          [type]="newHide ? 'text' : 'password'"
          color="accent"
          required
        >
          <mat-icon matSuffix (click)="newHide = !newHide">{{newHide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    <br>
      <button mat-stroked-button color="primary" (click)="updatePassword()" matDialogClose>Update</button>
    </form>
  </div>
  