<h1 style="text-align: center">Map Markers</h1>

<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
>
  <agm-marker
    *ngFor="let m of helpMarkers;let i = index"
    [latitude]="m.latitude"
    [longitude]="m.longitude"
  >
    <agm-info-window>
      <strong>Help</strong>
      <br>
      <i>{{m.message}}</i>
      <br>
      <i>Address:</i> {{m.address}}
      <br>
      <i>Created on:</i> {{m.createdAt}}
    </agm-info-window>
  </agm-marker>

  <agm-marker
  *ngFor="let p of haveMarkers;let i = index"
  [latitude]="p.latitude"
  [longitude]="p.longitude"
  >
    <agm-info-window>
      <strong>Have</strong>
      <br>
      <i>Address:</i> {{p.address}}
      <br>
      <i>Food:</i> {{p.food}}
      <br>
      <i>Water:</i> {{p.water}}
      <br>
      <i>Shelter:</i> {{p.shelter}}
      <br>
      <i>Other:</i> {{p.other}}
      <br>
      <i>Created at:</i> {{p.createdAt}}
    </agm-info-window>
  </agm-marker>

</agm-map>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form name="form" onSubmit="return false" #f="ngForm" novalidate>
        <h2>Add A Pin</h2>
        <h3>Where are you?</h3>
        <div class="address-input">
          <mat-form-field>
            <input matInput name="address" [(ngModel)]="model.address" placeholder="Address">
          </mat-form-field>
        </div>

        <h4>Do you need help or wanting to help?</h4>
        <mat-radio-button class="marker" (click)="toggleHelp()"> Help me!</mat-radio-button><br>
        <div *ngIf="help" class="pin-input">
          <mat-form-field>
            <input matInput name="message" matInput #message maxlength="255" [(ngModel)]="model.message" placeholder="Message (Optional)">
            <mat-hint align="end">{{message.value.length}} / 255</mat-hint>
          </mat-form-field>
          <br>
          <button mat-flat-button color="primary" (click)="setMsgAddress()">Create Pin</button>
        </div>

        <mat-radio-button class="marker" (click)="toggleHave()"> Offer amenities</mat-radio-button>
        <div *ngIf="have" class="pin-input">
          <div class="supply-info">
            <mat-form-field>
              <!-- <mat-select placeholder="Select">
                <mat-option
                  value="option"
                  *ngFor="let o of supplyOptions;let i = index"
                >
                  {{o.type}}
                </mat-option>
              </mat-select> -->
              <mat-select placeholder="Supplies" multiple>
                <mat-option *ngFor="let supply of supplyOptions;let i = index" [value]="supply">{{supply.type}}</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field hintLabel="Beer, Pet Food, Wifi">
              <input matInput name="description_supply" [(ngModel)]="model.description_supply" placeholder="Supply Description (Optional)">
              <br>
            </mat-form-field>
          </div>
          <button mat-flat-button color="primary" (click)="setMsgAddress()">Create Pin</button>
        </div>
      </form>
    </div>
  </div>
</div>
