agm-map {
  height: 65vh;
  width: 100%;
}

.pin-box {
  margin-right: 20px;
  margin-left: 20px;
}

.map-full-card-content {
  padding-top: 0%;
}
::ng-deep .mat-form-field-empty.mat-form-field-label {
  color: gray !important;
}
::ng-deep .mat-form-field-label {
  color: gray !important;
}
::ng-deep .mat-form-field-underline {
  background-color: gray !important;
} 
::ng-deep .mat-select-content {
  color: gray !important;
}
::ng-deep .mat-select-value-text {
  color: gray !important;
}