<!-- <p style="text-align: center; color: aqua">Sir Maps-a-Lot</p> -->
<div class="map-full-card-content">
  <agm-map
    #gm
    [gestureHandling]="cooperative"
    [scrollwheel]="null"
    [streetViewControl]="false"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
  >
    <div *ngFor="let m of markers;let i = index">
      <agm-marker
        *ngIf="m.help && isLoggedIn$ | async"
        [latitude]="m.latitude"
        [longitude]="m.longitude"
        [iconUrl]="helpUrl"
        (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow"
      >
        <agm-info-window #infoWindow>
          <div>
            <strong>Help</strong>
          </div>
          {{m.message}}
          <br>
          <i>Address: </i> {{m.address}}
          <br>
          <i>Created: </i> {{m.createdAt}}
          <br>
        </agm-info-window>
      </agm-marker>

      <agm-marker
        *ngIf="m.have"
        [latitude]="m.latitude"
        [longitude]="m.longitude"
        [iconUrl]="haveUrl"
        (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow"
      >
        <agm-info-window #infoWindow>
          <div>
            <strong>Have</strong>
          </div>
          {{m.message}}
          <br>
          <i>Address: </i> {{m.address}}
          <br>
          <i>Created: </i> {{m.createdAt}}
          <br>
        </agm-info-window>
      </agm-marker>
    </div>
  </agm-map>
</div>
<br><br>
<button mat-fab class="pin-box" style="background-color: rgb(206, 61, 61)" (click)="helpBox()" *ngIf="isLoggedIn$ | async">Help</button>
<button mat-fab class="pin-box" style="background-color: #3E7CB1" color="primary" (click)="haveBox()" *ngIf="isLoggedIn$ | async">Have</button>