<div class="container">
  <form [formGroup]="loginForm">
    <mat-form-field>
      <input
        matInput
        formControlName="email"
        name="email"
        placeholder="Enter your email"
        color="accent"
        required
      >
    </mat-form-field>
  <br>
    <mat-form-field>
      <input
        matInput
        formControlName="password"
        name="password"
        placeholder="Enter your password"
        [type]="hide ? 'text' : 'password'"
        required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  <br>
    <button mat-stroked-button color="primary" (click)="login()">Login</button>
  </form>
</div>
