<header>
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/signup">Sign Up</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/map">Map</a></li>
        <li><a routerLink="/weather">Weather</a></li>
        <li><a routerLink="/news">News</a></li>
        <li><a routerLink="/info">Information</a></li>
        <li><a routerLink="/profile">Profile</a></li>
      </ul>
    </nav>
  </div>
</header>