.cred {
  background-color: #3E7CB1;
}

.info {
  background-color: #829CBC;
}
img {
  padding-top: 50px;
  max-width: 200px;
  position: relative;
}
.locate {
  padding-top: 50px;
}
.locate button{
  padding: 1px 50px;
}
.auth{
  padding-top: 20px;
}
.auth button {
  margin-right: 8px;
  margin-left: 8px;
}
@keyframes ticker {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.tcontainer{
  width: 100%;
  overflow: hidden;
  margin: 0px 0px 0px 0px;
  position: fixed;
}
.ticker-wrap {
  width: 100%;
  background-color: #eee;
}
.ticker-move {
  display: inline-block;
  white-space: nowrap;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 30s;
}
.ticker-move:hover{
  animation-play-state: paused;
}
.ticker-item{
  display: inline-block;
  padding: 0 2rem;
}
@media only screen and (max-width: 700px){
  @keyframes ticker {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
  }
  .tcontainer{
    width: 100%;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    position: fixed;
  }
  .ticker-wrap {
    width: 100%;
    background-color: #eee;
  }
  .ticker-move {
    display: inline-block;
    white-space: nowrap;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 30s;
  }
  .ticker-move:hover{
    animation-play-state: paused;
  }
  .ticker-item{
    display: inline-block;
    padding: 0 2rem;
  }
}