.test {
  background-color: #3E7CB1;
}

.test2 {
  background-color: #829CBC;
}
img { 
  margin: 20px 0px 0px 0px;
  width: 50%; 
}
.locate {
  padding-top: 50px;
}
.locate button{
  padding: 1px 50px;
}
.auth{
  padding-top: 20px;
}
.auth button {
  margin-right: 8px;
  margin-left: 8px;
}