<div>
  First Name: {{nameFirst}}
  <br><button mat-button color="primary" (click)="editFirst()">edit</button><br>
  Last Name: {{nameLast}}
  <br><button mat-button color="primary" (click)="editLast()">edit</button><br>
  Email: {{email}}
  <br><button mat-button color="primary" (click)="editEmail()">edit</button><br>
  Phone Number: {{number}}
  <br><button mat-button color="primary" (click)="editPhone()">edit</button><br>
  <button mat-button color="primary" (click)="editPassword()">edit password</button>
  <br>
  <button mat-button color="primary" (click)="managePins()">manage pins</button>
</div>
