<div>
  First Name: {{nameFirst}} <button mat-raised-button color="primary" (click)="editFirst()">edit</button>
  <br>
  Last Name: {{nameLast}} <button mat-raised-button color="primary" (click)="editLast()">edit</button>
  <br>
  Email: {{email}} <button mat-raised-button color="primary" (click)="editEmail()">edit</button>
  <br>
  Phone Number: {{number}} <button mat-raised-button color="primary" (click)="editPhone()">edit</button>
  <br>
  <button mat-raised-button color="primary" (click)="editPassword()">edit password</button>
</div>
