<div class="row">
  <form name="form" onSubmit="return false" #f="ngForm" novalidate>
    <h3>Where are you?</h3>
    <div class="address-input">
      <mat-form-field>
        <input matInput name="address" [(ngModel)]="model.address" placeholder="Address">
      </mat-form-field>
    </div>
  </form>
  <form>
    <div class="pin-input">
      <div class="supply-info">
        <mat-form-field>
          <mat-select placeholder="Select Supplies" multiple>
            <label *ngFor="let supply of supplyOptions">
              <mat-option (click)="supply.value=!supply.value">{{supply.type}}</mat-option>
            </label>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input
            matInput name="description_supply"
            [(ngModel)]="model.message"
            [ngModelOptions]="{standalone: true}"
            placeholder="Description"
          >
          <br>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" (click)="setMsgAddress()" matDialogClose>Create Pin</button>
    </div>
  </form>
</div>
