<div class="row">
  <form novalidate>
    <h3>Where are you?</h3>
    <div class="address-input">
      <mat-form-field>
        <input 
          matInput
          class="google-place-input"
          google-place
          (onSelect)="setAddress($event)"
          placeholder="Address"
        >
      </mat-form-field>
    </div>
  </form>
  <form>
    <div class="pin-input">
      <div class="supply-info">
        <mat-form-field>
          <mat-select placeholder="Select Supplies" multiple>
            <label *ngFor="let supply of supplyOptions">
              <mat-option (click)="supply.value=!supply.value">{{supply.type}}</mat-option>
            </label>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input
            matInput
            name="message"
            #message
            maxlength="255"
            [(ngModel)]="model.message"
            placeholder="Description"
          >
          <mat-hint align="end">{{message.value.length}} / 255</mat-hint>
          <br>
        </mat-form-field>
        <br>
      </div>
      <button mat-flat-button type="submit" color="primary" (click)="setMsgAddress()" matDialogClose>Create Pin</button>
    </div>
  </form>
</div>
